$color-main: #1b1c21;
$color-active: #41f6d7;
$color-btn: #ff3e79;
$color-lightgray: #eaeaea;
$color-gray: #7e7e82;
$color-white: #ffffff;
$color-background: #f8f8f8;
$color-border-top: #d9fff5;
$color-border: #b8ffec;
